<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AccountTransactionEntities" connectionString="metadata=res://*/AccTransaction.csdl|res://*/AccTransaction.ssdl|res://*/AccTransaction.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A7O5MRJ;initial catalog=AccountTransaction;persist security info=True;user id=sa;password=mohan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountTransactionEntities1" connectionString="metadata=res://*/AccountTransaction.csdl|res://*/AccountTransaction.ssdl|res://*/AccountTransaction.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A7O5MRJ;initial catalog=AccountTransaction;persist security info=True;user id=sa;password=mohan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>